[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
browser-use = {extras = ["memory"], version = "*"}
patchright = "*"
langchain-google-genai = "*"
langchain = "*"
python-dotenv = "*"
langchain-ollama = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.11"
